*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    font-size: 62.5%;
}
body{
    padding: 10rem;
    margin: 10rem;
}
.wrapper{
    display: flex;
    flex-direction: column;
    border-radius: 25px;
}
img{
    display: inline-block;
}
button{
    border-radius: 25%;
}
